{% extends 'base.html.twig' %}

{% block title %}Tarea {{ tarea.id}}{% endblock %}
{% block body %}
	<h1>Tarea Nº {{ tarea.id }}</h1>
	<ul>
		
        	<p>{{ tarea.descripcion }}</p>
        	<a href="{{ url_atras }}">Atrás</a>
    	
	</ul>
{% endblock %}